<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Homeland Real Estate One Page Html5 Template Preview</title>
        <meta name="description" content="Spread the word about your real estate business.">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/nice-select.css">
        <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="static/css/flaticon.css">
        <link rel="stylesheet" href="static/css/meanmenu.css">
        <link rel="stylesheet" href="static/css/animate.min.css">
        <link rel="stylesheet" href="static/css/animated-headeline.css">
        <link rel="stylesheet" href="static/css/slick.css">
        <link rel="stylesheet" href="static/css/default.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/responsive.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

		<!-- preloader -->
		<div id="loading">
		<div id="loading-center">
		<div id="loading-center-absolute">
		<div class="object" id="object_one"></div>
		<div class="object" id="object_two"></div>
		<div class="object" id="object_three"></div>
		<div class="object" id="object_four"></div>
		<div class="object" id="object_five"></div>
		<div class="object" id="object_six"></div>
		<div class="object" id="object_seven"></div>
		<div class="object" id="object_eight"></div>
		<div class="object" id="object_big"></div>
		</div>
		</div>
		</div>
        <!-- header area start -->
        <header>
        <div class="header-bottom-area header-sticky pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div class="main-menu  pt-5">
                            <nav id="mobile-menu" style="text-align: center;">
                                <ul>
                                    <li class="active"><a href="/home">首页</a></li>
                                    <li><a href="/movieList">电影详细信息</a></li>
                                    <li><a href="/rate_t">评分分析表</a></li>
                                    <li><a href="/time_t">时间分析表</a></li>
                                    <li><a href="/map_t">地区分析表</a></li>
                                    <li><a href="/act_dir_t">演员与导演分析表</a></li>
                                </ul>
                                <div class="sign-in-btn float-right pt-5">
                                    <a href="/login" class="float-right">退出</a>
                                    <a href="/register" class="float-right">注册</a>
                                </div>
                            </nav>
                            </div>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <!-- header area end -->
        <main>
        <!-- slider start -->
        <div class="slider-area pt-170 pb-100" id="home" style="background-color: #F3F3F3;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="slider-content text-center">
                            <h1 class="cd-headline clip is-full-width">
                                <span>随心配  </span>
                                <span class="cd-words-wrapper" style = "width:91px;">
                                    <b class="is-visible">电影！</b>
                                    <b class="color">快乐！</b>
                                </span>
                            </h1>
                            <p>We Have Various Choices For You.</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12 col-lg-12">
                        <div class="search-tab wow zoomIn" data-wow-duration="2s" data-wow-delay=".5s">
                            <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                   <a class="nav-link active" id="pills-buy-tab" data-toggle="pill" href="#pills-buy" role="tab" aria-controls="pills-buy" aria-selected="true">For Fun</a>
                                </li>
                            </ul>
                              <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-buy" role="tabpanel" aria-labelledby="pills-buy-tab" style="text-align: center;">
                                    <div class="search">
                                        <form action="/home" method="post" style="display: flex; justify-content: center; align-items: center;">

                                            <div class="col-xl-2 col-lg-2 col-md-2 col-12" style="margin-right: 15px;">
                                                <div class="single-search">
                                                    <select id="type" name="电影类型">
                                                        <option>电影类型</option>
                                                        <option>动作</option>
                                                        <option>喜剧</option>
                                                        <option>爱情</option>
                                                        <option>科幻</option>
                                                        <option>恐怖</option>
                                                        <option>剧情</option>
                                                        <option>动画</option>
                                                        <option>惊悚</option>
                                                        <option>犯罪</option>
                                                        <option>冒险</option>
                                                        <option>奇幻</option>
                                                        <option>战争</option>
                                                        <option>历史</option>
                                                        <option>音乐</option>
                                                        <option>歌舞</option>
                                                        <option>传记</option>
                                                        <option>纪录片</option>
                                                        <option>西部</option>
                                                        <option>家庭</option>
                                                        <option>运动</option>
                                                        <option>古装</option>
                                                        <option>武侠</option>
                                                    </select>
                                                    <div class="nice-select" tabindex="0">
                                                        <span class="current">电影类型</span>
                                                        <ul class="list">
                                                            <li data-value="电影类型" class="option selected">电影类型</li>
                                                            <li data-value="动作" class="option">动作</li>
                                                            <li data-value="喜剧" class="option">喜剧</li>
                                                            <li data-value="爱情" class="option">爱情</li>
                                                            <li data-value="科幻" class="option">科幻</li>
                                                            <li data-value="恐怖" class="option">恐怖</li>
                                                            <li data-value="剧情" class="option">剧情</li>
                                                            <li data-value="动画" class="option">动画</li>
                                                            <li data-value="惊悚" class="option">惊悚</li>
                                                            <li data-value="犯罪" class="option">犯罪</li>
                                                            <li data-value="冒险" class="option">冒险</li>
                                                            <li data-value="奇幻" class="option">奇幻</li>
                                                            <li data-value="战争" class="option">战争</li>
                                                            <li data-value="历史" class="option">历史</li>
                                                            <li data-value="音乐" class="option">音乐</li>
                                                            <li data-value="歌舞" class="option">歌舞</li>
                                                            <li data-value="传记" class="option">传记</li>
                                                            <li data-value="纪录片" class="option">记录片</li>
                                                            <li data-value="西部" class="option">西部</li>
                                                            <li data-value="家庭" class="option">家庭</li>
                                                            <li data-value="运动" class="option">运动</li>
                                                            <li data-value="古装" class="option">古装</li>
                                                            <li data-value="武侠" class="option">武侠</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-12"  style="margin-right: 15px;">
                                                <div class="single-search">
                                                    <select id="country" name="电影国家">
                                                        <option>电影国家</option>
                                                        <option>中国</option>
                                                        <option>美国</option>
                                                        <option>英国</option>
                                                        <option>日本</option>
                                                        <option>法国</option>
                                                        <option>德国</option>
                                                        <option>印度</option>
                                                        <option>意大利</option>
                                                        <option>韩国</option>
                                                        <option>加拿大</option>
                                                        <option>澳大利亚</option>
                                                        <option>西班牙</option>
                                                        <option>俄罗斯</option>
                                                        <option>泰国</option>
                                                        <option>瑞典</option>
                                                        <option>巴西</option>
                                                        <option>墨西哥</option>
                                                        <option>伊朗</option>
                                                        <option>土耳其</option>
                                                        <option>阿根廷</option>
                                                    </select>
                                                    <div class="nice-select" tabindex="0">
                                                        <span class="current">电影国家</span>
                                                        <ul class="list">
                                                            <li data-value="电影国家" class="option selected">电影国家</li>
                                                            <li data-value="中国" class="option">中国</li>
                                                            <li data-value="美国" class="option">美国</li>
                                                            <li data-value="英国" class="option">英国</li>
                                                            <li data-value="日本" class="option">日本</li>
                                                            <li data-value="法国" class="option">法国</li>
                                                            <li data-value="德国" class="option">德国</li>
                                                            <li data-value="印度" class="option">印度</li>
                                                            <li data-value="意大利" class="option">意大利</li>
                                                            <li data-value="韩国" class="option">韩国</li>
                                                            <li data-value="加拿大" class="option">加拿大</li>
                                                            <li data-value="澳大利亚" class="option">澳大利亚</li>
                                                            <li data-value="西班牙" class="option">西班牙</li>
                                                            <li data-value="俄罗斯" class="option">俄罗斯</li>
                                                            <li data-value="泰国" class="option">泰国</li>
                                                            <li data-value="瑞典" class="option">瑞典</li>
                                                            <li data-value="巴西" class="option">巴西</li>
                                                            <li data-value="墨西哥" class="option">墨西哥</li>
                                                            <li data-value="伊朗" class="option">伊朗</li>
                                                            <li data-value="土耳其" class="option">土耳其</li>
                                                            <li data-value="阿根廷" class="option">阿根廷</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-12" style="margin-right: 15px;">
                                                <div class="single-search">
                                                    <select id="rating" name="最低评分">
                                                        <option>最低评分</option>
                                                        <option>9</option>
                                                        <option>8</option>
                                                        <option>7</option>
                                                        <option>6</option>
                                                        <option>5</option>
                                                        <option>无下限</option>
                                                    </select>
                                                    <div class="nice-select" tabindex="0">
                                                        <span class="current">最低评分</span>
                                                        <ul class="list">
                                                            <li data-value="最低评分" class="option selected">最低评分</li>
                                                            <li data-value="9" class="option">9</li>
                                                            <li data-value="8" class="option">8</li>
                                                            <li data-value="7" class="option">7</li>
                                                            <li data-value="6" class="option">6</li>
                                                            <li data-value="5" class="option">5</li>
                                                            <li data-value="无下限" class="option">无下限</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-12">
                                                <div class="single-search">
                                                    <button id="generate">随心配！</button>
                                                </div>

                                            </div>

                                        </form>
                                        <div class="container pt-10">

                                                <div class="card" style="width: 100% ; margin-bottom:20px">
                                                    <div style ="margin-left:10px;margin-top:10px;text-align: center;">
                                                        <br>
                                                        <!-- 封面！ -->
                                                        <p class="card-text" style="font-size:15px;">
                                                        {{ result[0] }}
                                                        </p>
                                                        <a href="{{result[1]}}">
                                                            <img src = "static/picture/image.jpg" width=“540” height=“800” >
                                                        </a>

                                                    </div>
                                                    <div class="card-body" style="text-align: center;">
                                                        <h5 class="card-title" style="text-align: center;">
                                                            <a href="{{result[1]}}">
                                                            <span class="text-primary fw-bold" style="font-size:20px;" >
                                                                {{ result[3] }}<!-- 中文名 -->
                                                            </span>
                                                            </a>
                                                            <span class="text-danger" style="font-size:20px;">
                                                                {{ result[5] }}分
                                                            </span>
                                                            <span class="text-success" style="font-size:20px;">
                                                                {{ result[11] }}年
                                                            </span>
                                                            <br> <!-- 添加一个空行 -->
                                                            <br>
                                                            <p class="card-text" style="font-size:15px;">
                                                                国家：{{ result[12] }}
                                                            </p>
                                                            <p class="card-text" style="font-size:15px;">
                                                                类型：{{ result[13] }}
                                                            </p>
                                                            <p class="card-text" style="font-size:15px;">
                                                                导演：{{ result[9] }}
                                                            </p>
                                                            <p class="card-text" style="font-size:15px;">
                                                                主演：{{ result[10] }}
                                                            </p>
                                                            <p class="card-text" style="font-size:15px;" alt="请多多探索">
                                                                精彩抢先看：{{ result[7] }}
                                                            </p>
                                                            <!-- 详情页按钮 -->
                                                            <a href="{{result[1]}}" class="button" style="font-size:15px; color: #7E7E7E;">详情页</a>
                                                        </h5>
                                                    </div>
                                                </div>

                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider end -->

        </main>
        <footer class="footer-bg pt-100">
            <!-- footer top start -->

            <div class="footer-top-area pb-50 pl-50 pr-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-12">
                            <div class="single-footer mb-20">
                                <!--
                                <div class="footer-logo">
                                    <a href="#"><img src="static/picture/footer-logo.png" alt="footer logo"></a>
                                </div>
                                -->
                                <p>Enjoy movie time!</p>
                                <div class="footer-address">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i> ECNU </li>
                                        <li><i class="fas fa-phone-volume"></i> 88888888</li>
                                        <li><i class="fas fa-envelope"></i> 88888888@homeland.com</li>
                                    </ul>
                                </div>
                                <!--
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                                -->
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-6">
                            <div class="single-footer">
                                <h4>导航</h4>
                                <div class="footer-menu">
                                    <ul>

                                        <li><a href="#">关于我们</a></li>
                                        <li><a href="#">加入</a></li>
                                        <li><a href="#">更多电影</a></li>
                                        <li><a href="#">探索</a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-6">
                            <div class="single-footer">
                                <h4>服务</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="/movielist">电影详细信息</a></li>
                                        <li><a href="#">关于电影</a></li>
                                        <li><a href="#">帮我生成</a></li>
                                        <li><a href="#">探索更多</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-12">
                            <div class="single-footer">
                                <h4>电影天地</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">分类数据</a></li>
                                        <li><a href="#">详细分析</a></li>
                                        <li><a href="#">探索更多</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer top end -->
            <!-- footer bottom start -->
            <div class="footer-bottom-area pt-10 pb-10">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="copyright text-center">
                                <p>Copyright &copy; 还不知道看什么电影吗？ <a target="_blank"
                                                                 href="https://movie.douban.com/top250">
                        豆瓣电影排行榜</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer bottom end -->
            <!-- back to top start -->
            <div class="back-to-top">
                <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
            </div>
            <!-- back to top end -->
        </footer>

		<!-- JS here -->
        <script src="static/js/modernizr-3.5.0.min.js"></script>
        <script src="static/js/jquery-1.12.4.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/one-page-nav-min.js"></script>
        <script src="static/js/waypoints.min.js"></script>
        <script src="static/js/jquery.counterup.min.js"></script>
        <script src="static/js/jquery.nice-select.min.js"></script>
        <script src="static/js/slick.min.js"></script>
        <script src="static/js/jquery.meanmenu.min.js"></script>
        <script src="static/js/wow.min.js"></script>
        <script src="static/js/animated-headline.js"></script>
        <script src="static/js/main.js"></script>
    	<div style="display:none;"></div>
</body>
</html>