<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon icon-->

  <!-- Libs CSS -->
  <link href="static/css/bootstrap-icons.css" rel="stylesheet">
  <link href="static/css/dropzone.css" rel="stylesheet">
  <link href="static/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="static/css/prism-okaidia.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="static/css/theme.min.css">
  <title>登录界面</title>
</head>

<body class="bg-light">
  <!-- container -->
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <h2 style="color: #624bff;font-weight: bold;">电影随心配</h2>
              <p class="mb-6">请输入你的信息</p>
            </div>
            <!-- Form -->
            <form class="user" method="POST" action="/login">
              <!-- Username -->
              <div class="mb-3">
                <label for="email" class="form-label">邮箱号</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Email address here" required="">
              </div>
              <!-- Password -->
              <div class="mb-3">
                <label for="password" class="form-label">密码</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="**************" required="">
              </div>
              <!-- Checkbox -->
              <div class="d-lg-flex justify-content-between align-items-center mb-4">
                <div class="form-check custom-checkbox">
                  <input type="checkbox" class="form-check-input" id="rememberme">
                  <label class="form-check-label" for="rememberme">记住我</label>
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">登录</button>
              </div>
            </form>

            <div>
              <!-- Button -->
              <div class="d-md-flex justify-content-between mt-4">
                <div class="mb-2 mb-md-0">
                  <a href="/register" class="fs-5">还没有账号？创建账号</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Libs JS -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/jquery.slimscroll.min.js"></script>
  <script src="static/js/feather.min.js"></script>
  <script src="static/js/prism.js"></script>
  <script src="static/js/apexcharts.min.js"></script>
  <script src="static/js/dropzone.min.js"></script>
  <script src="static/js/prism-toolbar.min.js"></script>
  <script src="static/js/prism-copy-to-clipboard.min.js"></script>

  <!-- Theme JS -->
  <script src="static/js/theme.min.js"></script>
</body>

</html>
